<!-- #everything on here was added by Jozef, connects.html.erb -->
<div class = "user"> <div class = "heading"> Connections </div> </div>

<% if current_user.friendships.size > 0 %>
 
	<table class="table table_striped">
		<thead>
			<tr>
				<th colspan="3" class="page-header">
					<h2>My Friends</h2>
					</th>
					</tr>
					<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>

				<%for friendship in current_user.friendships %>
				<tr>
					<td><%=friendship.friend.firstname %></td>
					<td><%= friendship.friend.email %></td>
					<td>
						
						<%= link_to "view profile", show_user_url(friendship.friend), class:"btn btn-primary btn-xs" %>
						<%= link_to 'Remove Friend', friendship_path(friendship.friend),
											:method => :delete,
											:data => { :confirm => "Are you sure?"},
											:class => "btn btn-xs btn-danger" %>
						</td>
						</tr>

						<% end %>

						</tbody>
						</table>


<%else%>
	<div class="row col-lg-12">
	<p class="lead">you don't have any friends yet. Please add some!</p>
	</div>
<% end %>
