/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require commontator/application
 */
@import "bootstrap-sprockets";
@import "bootstrap";


#searchButton {
  display: inline-block;
  margin: 0 10px;
  padding: 2px 5px;
  font-size: 15px;
  font-family: "Oswald",sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

#searchButton:focus {
  outline: none
}

section.border #searchButton {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border-radius: 8px;
  border: solid 5px #6496c8;
}
section.border #searchButton:hover,
section.border #searchButton.hover {
  border-color: #346392;
  color: #346392;
}
section.border #searchButton:active,
section.border #searchButton.active {
  border-color: #27496d;
  color: #27496d;
}

nav {
  display: inline-block;
  float: center;
  margin-left: 10px;
}

nav.navbar{
  background: #E5E5E5;
  opacity: 0.7;
  display: inline-block;
  border-bottom: 4px double black;
  margin-right: 10px;
  margin-bottom: 10px !important;
}

.navbar{
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

.border{
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

a.nav-link{
  font-size: 24px;
  color: #003A65;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold;
}

nav.navbar:hover  a.nav-link{
  filter: blur(1px);
}

nav.navbar a.nav-link:hover {
  filter: blur(0);
}

body{
  padding-top: 65px !important;
}

/*flash*/
.alert{
  position: relative;
  text-align: center;
  color: #E50D13;
  font-size: 14px;
  padding: 5px;
  height: 30px;
  width: 200px;
  left: 42%;
  margin-top: 30px;
  }

/*****/
