/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize/components/color";
$primary-color: color("teal", "base") !default;
  $primary-color-light: false !default;
  $primary-color-dark: false !default;
  @if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
  }
  @if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
  }
  $secondary-color: color("amber", "base") !default;
  $success-color: color("green", "base") !default;
  $error-color: color("red", "base") !default;

  $link-color: color("light-blue", "lighten-2") !default;
@import 'materialize';


a{
  text-decoration: none;
  color: #ffc107;
}


/*flash*/
.alert{
  position: relative;
  text-align: center;
  color: #E50D13;
  font-size: 14px;
  padding: 5px;
  height: 30px;
  width: 200px;
  left: 42%;
  margin-top: 30px;
  }

/*****/
