// Place all the styles related to the Educations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.education-block{
	display: block;
	height: 400px;
	width: 518px;
	word-wrap: break-word;
	margin: auto;
	margin-left: 420px;
	padding-top: 60px;
	margin-top: 10px;
	border-bottom: solid 1px;
	border-color: #b0bec5;
}

.education .content{
	display: inline-block;
	position: relative;
	margin-top: 5px;
	left: 145px;
	bottom: 34px;
	min-height: 20px;
	width: 385px;
	word-wrap: break-word;
	font-family: "tahoma";
	font-weight: normal;
	font-size: 15px;
	color: #1D3D4C; 
}

.education-block .education-edit{
	display: block;
	width: 44px;
	position: relative;
	left: 400px;
	bottom: 35px;
}

.education-block .education-destroy{
	display: block;
	width: 44px;
	position: relative;
	left: 450px;
	bottom: 75px;
}

