// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle
{
margin-top: 30px;
margin-left: auto;
margin-right: auto;
width:600px;
height:600px;
border-radius:50%;
color:#fff;
font-size:260px;
line-height:400px;
text-align:center;
background:#94E6FF;
box-shadow:
	inset 0 0 0 16px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1);
transition: all 0.4s ease-in-out;
}


.circle-content{
	margin-top:-66.7%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.circle-content h3 {
	text-decoration: none !important;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 80px;
	margin: 0 30px;
	padding: 40% 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

#rl a:link, #rl a:visited, #rl a:hover, #rl a:active{
    text-decoration:none;
    color: rgba(255,242,34, 0.8);
}

.circle-content p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 20px;
	font-size: 18px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}

.circle:hover {
box-shadow:
	inset 0 0 0 1px rgba(255,255,255,0.1),
	0 1px 2px rgba(0,0,0,0.1);
}

 .circle:hover .circle-content {
 	transform: scale(1);
	opacity: 1;
 }

 .circle:hover .circle-content p {
	opacity: 1;
}

.circle:hover .bg-image{
	filter: blur(5px);
}

body{
	overflow: scroll;
}

.bg{
	background-color: #3B99E5 !important;
}

.pronet-name {

	display: inline;
	position: relative;
	right: 7px;
	font: 120px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

.pronet-name::after {
	content: "Globalink";
	position: absolute; left: 5px; top: 3px;
	color: rgba(255,0,0,0.5);
}



.bg-image{
	opacity: 0.8;
	position: relative;
	top: 50px;
	left: 13px;
	transition: 0.8s ease-in-out;
}

.icon{
	display:inline-block;
	height: 10px;
	width: auto;
	margin: 6%;
	margin-top: 10px;
	margin-bottom: 50px;
}

.desc-box{
	bottom: -100%;
	background: #273340;
	height: 400px;
	width: 100%;
	margin-top: 10%;
	padding: 10px 10px;
	text-align: center;
	font-size: 30px;
}

.text{
	color: #fff;
	font: Georgia;
	margin: 5% 15%;
	display: block;
}



//Profile

/******************************************* USER PROFILE PAGE *****************************/
.card-box{
	position: absolute;
	margin-top: 0;
	margin-bottom: 15px;
    margin-right: 10px !important;
    width: 100%;
    text-align: center;
}

 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid #001f4d;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 240px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    margin-left: 45%;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 50px;
    border: 5px solid #4d94ff;
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 5px 0;
}
.card.hovercard .card-info {
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

button.btn:active{
}

.align-image{
	margin-left: 0px;
}
.connect-title{
	font-size: 35px;
	color: #5F9CFF;
}

/*******POSTS*********************************************************************/

.posts{
	background-image:
	    linear-gradient(to right, #89B7C4, #B1EDFF);
	width: 1000px;
	display: block;
	margin: 20px auto;
}

.posts .create-post{
	border-radius: 5px;
	width: 900px;
	height: 200px;
	margin-bottom: 25px;
	background: #046380;
	padding: 5px;
	 -webkit-box-shadow: 0 15px 17px -6px rgba(50, 50, 50, 0.5);
       -moz-box-shadow: 0 15px 17px -6px rgba(50, 50, 50, 0.5);
            box-shadow: 0 15px 17px -6px rgba(50, 50, 50, 0.5);
}

.create-post .create-item{
	margin: 0 auto;
	text-align: center;
}

.create-item .heading{
	font-size: 18px;
	font: Georgia;
	color: #E6E2AF;
}

.create-item .text-area{
	margin: 10px;
	width: 500px;
	height: 80px;
	resize: none;
	word-wrap: break-word;
}

.create-item .submit-post{
	display: block;
	width: 100px;
	margin: 5px auto;
	font-size: 16px;
	color: white;
	background: #0584AB;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.7), 
				inset 0 2px 0 -1px rgba(98, 98, 98, 0.5), 0 3px 7px -3px rgba(0, 0, 0, 0.7);
}

.submit-post:hover{
	background: #047092;
	transition: all 0.4s ease-in-out;
}

.posts .post-block{
	display: block;
	position: relative;
	width: 900px;
	margin-top: 50px;
	padding: 5px;
	border-radius: 4px;
	background: #7CA6B3;
	padding: 20px;
	-webkit-box-shadow: inset 0 -2px 19px 5px rgba(50, 50, 50, 0.31);
       -moz-box-shadow: inset 0 -2px 19px 5px rgba(50, 50, 50, 0.31);
            box-shadow: inset 0 -2px 19px 5px rgba(50, 50, 50, 0.31);
}

.post-block .screw .left-top{
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
}

.post-block .screw .right-top{
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
}

.post-block .screw .right-bottom{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 20px;
}

.post-block .screw .left-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
}

.post-block .post-unit{
	position: relative;
	display: block;
	height: 150px;
	width: 600px;
	background: #046E8F;
	border-radius: 2px;
	margin: 20px auto;
	padding: 10px 25px;
	-webkit-box-shadow: 0 15px 20px -6px rgba(50, 50, 50, 0.5);
       -moz-box-shadow: 0 15px 20px -6px rgba(50, 50, 50, 0.5);
            box-shadow: 0 15px 20px -6px rgba(50, 50, 50, 0.5);
	pointer-events: none;
}

.post-unit .destroy{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	pointer-events: auto;
}

.post-unit:hover{
	filter: blur(2px);
	transition: all 0.4s ease-in-out;
}

.post-unit .name{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.post-unit .post-content{
	font-size: 14px;
	margin: 15px 0;
	height: 75px;
	width: 530px;
	border: 1px solid;
	border-radius: 1px;
	padding: 4px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.7), 
				inset 0 2px 0 -1px rgba(98, 98, 98, 0.5), 0 1px 2px -1px rgba(0, 0, 0, 0.7);
}

/**************************************************************************/