// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_profile{
	width: 100%;
	height: 100%;
}

.new_profile .heading{
	display: block;
	height: 100px;
	width: 600px;
	margin: auto;
	position: relative;
	text-align: center;
	font-family: "tahoma";
	font-style: bold;
	font-size: 70px;
	margin-top: 10px;
	color: #3DC39E;
}

.new_profile .move-left{
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

.actions{
	display: block;
	height: 50px;
	width: 600px;
	margin: auto;
	margin-top: 20px;
	font-color: #F4F7EE !important;
}


.fa-check{
	font-size: 25px;
}

.actions .profile_save{
	display: block;
	height: 50px;
	width: 200px;
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
	font-size: 30px;
	padding: 0;
	background-color: #3DC39E;
	border: 0;

	-webkit-box-shadow: 0 5px 7px -2px rgba(50, 50, 50, 0.5);
       -moz-box-shadow: 0 5px 7px -2px rgba(50, 50, 50, 0.5);
            box-shadow: 0 5px 7px -2px rgba(50, 50, 50, 0.5);
}

.new_profile .profile_back{
	display: block;
	position: absolute;
	left: 30%;
	margin-top: 30px;
	text-decoration: none;
}

.back_link{	
	font-size: 20px;
	font-color: #3DC39E;
	font-family: "arial";
	border: 0;

	-webkit-box-shadow: 0 5px 7px -2px rgba(50, 50, 50, 0.5);
       -moz-box-shadow: 0 5px 7px -2px rgba(50, 50, 50, 0.5);
            box-shadow: 0 5px 7px -2px rgba(50, 50, 50, 0.5);
}

.label{
	font-size: 18px;
	color: gray !important;
	text-decoration: none;
}
