// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.skills-text-area{
	width: 400px !important;
}

.skill-block{	
	display: block;
	height: 80px;
	width: 518px;
	word-wrap: break-word;
	margin: auto;
	margin-left: 420px;
	padding-top: 60px;
	margin-top: 10px;
	border-bottom: solid 1px;
	border-color: #b0bec5;
}

.title{
	display: block;
	position: relative;
	height: 37px;
	width: 110px;
	padding-top: 7px;
	margin-left: 15px;
	margin-top: 10px;
	text-align: right;
	font-family: "tahoma";
	font-weight: bold;
	font-size: 18px;
	color: #1D3D4C;
	border-bottom: solid 1px;
	border-bottom-color: #73A1B2;
}

.content{
	display: inline-block;
	position: relative;
	margin-top: 5px;
	left: 145px;
	bottom: 34px;
	min-height: 40px;
	width: 385px;
	word-wrap: break-word;
	font-family: "tahoma";
	font-weight: normal;
	font-size: 15px;
	color: #1D3D4C; 
}

.skills .heading{
	display: block;
	height: 100px;
	width: 600px;
	margin: auto;
	position: relative;
	text-align: center;
	font-family: "tahoma";
	font-style: bold;
	font-size: 70px;
	margin-top: 10px;
	color: #3DC39E;
}

.skill-block .skill-edit{
	display: block;
	width: 44px;
	position: relative;
	left: 400px;
	bottom: 83px;
}

.skill-block .skill-destroy{
	display: block;
	width: 44px;
	position: relative;
	left: 450px;
	bottom: 122px;
}

.div-margin-skill{
	margin-top: -80px;
	margin-bottom: 20px;
}