<h1>Editing Education</h1>

<%= render 'form', education: @education %>

<div class = "profile_back">
		<%= link_to 'Cancel', {controller: "pages", action: "user_education", class: 'back_link'} %>
</div>
